### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [141]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [142]:
tot_count = purchase_data.copy()

num = tot_count["SN"].value_counts().size

print(f"Total Players: {num}")

Total Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [143]:
summ_purch = purchase_data.copy()

summ_purch.head()

uniq_items = summ_purch["Item ID"].value_counts().size

num_purch = summ_purch["Purchase ID"].size

tot_rev = summ_purch["Price"].sum()

avg_price = summ_purch["Price"].mean()


cats_ls = [uniq_items, num_purch, tot_rev, avg_price]

summ_df = pd.DataFrame([cats_ls], columns =["Unique Number of Items", "Number of Purchases", \
                                            "Total Revenue", "Average Price"])

summ_df["Total Revenue"] = summ_df["Total Revenue"].map("${:,.2f}".format)
summ_df["Average Price"] = summ_df["Average Price"].map("${:.2f}".format)

print(summ_df)

   Unique Number of Items  Number of Purchases Total Revenue Average Price
0                     179                  780     $2,379.77         $3.05

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [144]:
gend_dem = purchase_data.copy()

male_ct = gend_dem["Gender"].str.count("Male").sum()

female_ct = gend_dem["Gender"].str.count("Female").sum()

third_ct = gend_dem["Gender"].str.count("Other / Non-Disclosed").sum()

gendtot = (third_ct + male_ct + female_ct)

gend_cts = [male_ct, female_ct, third_ct]

gend_pcts = [100 * (male_ct/gendtot), 100 * (female_ct/gendtot), 100 * (third_ct/gendtot)]

gend_ls = [gend_cts, gend_pcts]

gend_prin = pd.DataFrame(list(zip(gend_cts, gend_pcts)), index =["Male", "Female", "Other / Non-Disclosed"], \
                         columns =["Total Count", "Percentage of Players"])

gend_prin["Percentage of Players"] = gend_prin["Percentage of Players"].map("{:.2f}%".format)

print(gend_prin)

                       Total Count Percentage of Players
Male                           652                83.59%
Female                         113                14.49%
Other / Non-Disclosed           15                 1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [145]:
gend_purch = purchase_data.copy()

#purchase count
ml_ct = gend_purch["Gender"].str.count("Male").sum()

fml_ct = gend_purch["Gender"].str.count("Female").sum()

thr_ct = gend_purch["Gender"].str.count("Other / Non-Disclosed").sum()

#average purchase price (sumif)/count from above
thr_tp = gend_purch.loc[gend_purch["Gender"] == "Other / Non-Disclosed", "Price"].sum()
avg_thrp = (thr_tp / thr_ct)

fml_tp = gend_purch.loc[gend_purch["Gender"] == "Female", "Price"].sum()
avg_fp = (fml_tp / fml_ct)

ml_tp = gend_purch.loc[gend_purch["Gender"] == "Male", "Price"].sum()
avg_mp = (ml_tp / ml_ct)

#unique players per gender
uniq_df = gend_purch.groupby("Gender")["SN"].nunique()

uniq3 = uniq_df.loc["Other / Non-Disclosed"]
uniqf = uniq_df.loc["Female"]
uniqm = uniq_df.loc["Male"]


#output df construction
gend_df = pd.DataFrame({
    "Gender": ["Other / Non-Disclosed", "Female", "Male"],
    "Purchase Count": [thr_ct, fml_ct, ml_ct],
    "Average Purchase Price": [avg_thrp, avg_fp, avg_mp],
    "Total Purchase Value": [thr_tp, fml_tp, ml_tp],
    "Avg Total Per Person": [(thr_tp / uniq3), (fml_tp / uniqf), (ml_tp / uniqm)]})

#setting gender to index
gend_df.set_index("Gender", inplace = True)
gend_df["Average Purchase Price"] = gend_df["Average Purchase Price"].map("${:.2f}".format)
gend_df["Total Purchase Value"] = gend_df["Total Purchase Value"].map("${:,.2f}".format)
gend_df["Avg Total Per Person"] = gend_df["Avg Total Per Person"].map("${:.2f}".format)

gend_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Per Person
Gender,,,,
Other / Non-Disclosed,15,$3.35,$50.19,$4.56
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [146]:
#count/sum by age bins on unique player SNs

uniqdf = purchase_data.copy()

#assign bins to unique SNs
agebins = [0, 9, 14, 19, 24, 29, 34, 39, 120]
bindex = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

uniqdf["Age Group"] = pd.cut(uniqdf["Age"], agebins, labels=bindex)

sn_age = uniqdf.groupby(by="Age Group", as_index=False).agg({"SN": pd.Series.nunique})

sn_age.rename(columns = {"SN":"Total Count"}, inplace = True)

sn_age.set_index("Age Group", inplace = True)

uniqsum = sn_age["Total Count"].sum()

sn_age["Percentage of Players"] = (100 *(sn_age["Total Count"] / uniqsum))

sn_age["Percentage of Players"] = sn_age["Percentage of Players"].map("{:.2f}%".format)

print(sn_age)

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [147]:
purch_age = purchase_data.copy()

#apply bins
bin_ages = [0, 9, 14, 19, 24, 29, 34, 39, 120]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purch_age["Age Group"] = pd.cut(purch_age["Age"], bin_ages, labels=bin_names)

#purchase count column

age_tp = purch_age.groupby(by="Age Group", as_index=False).agg({"Purchase ID": pd.Series.nunique})

age_tp.rename(columns = {"Purchase ID":"Purchase Count"}, inplace = True)

age_tp.set_index("Age Group", inplace = True)

#add col for avg pur price (sum / pur_count)

#Total sum
age_tp["Total Purchase Price"] = purch_age.groupby("Age Group")["Price"].sum()

#average purchase
age_tp["Average Purchase Price"] = (age_tp["Total Purchase Price"] / age_tp["Purchase Count"])

#average total purchase per person
#unique players
uniqsn = purch_age.groupby(by="Age Group", as_index=False).agg({"SN": pd.Series.nunique})

uniqsn.rename(columns = {"SN":"Total Count"}, inplace = True)

uniqsn.set_index("Age Group", inplace = True)

#uniq_ct = uniqsn["Total Count"].sum()

age_tp["Avg Total Purchase per Person"] = (age_tp["Total Purchase Price"] / uniqsn["Total Count"])

#format output
age_tp["Total Purchase Price"] = age_tp["Total Purchase Price"].map("${:,.2f}".format)
age_tp["Average Purchase Price"] = age_tp["Average Purchase Price"].map("${:.2f}".format)
age_tp["Avg Total Purchase per Person"] = age_tp["Avg Total Purchase per Person"].map("${:.2f}".format)

print(age_tp.head())

           Purchase Count Total Purchase Price Average Purchase Price  \
Age Group
<10                    23               $77.13                  $3.35
10-14                  28               $82.78                  $2.96
15-19                 136              $412.89                  $3.04
20-24                 365            $1,114.06                  $3.05
25-29                 101              $293.00                  $2.90

          Avg Total Purchase per Person
Age Group
<10                               $4.54
10-14                             $3.76
15-19                             $3.86
20-24                             $4.32
25-29                             $3.81

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [163]:
top_spend = purchase_data.copy()

#purchase count
ts_df = top_spend.groupby(by="SN", as_index=True).agg({"Purchase ID": pd.Series.nunique}).reset_index()

ts_df.rename(columns = {"Purchase ID":"Purchase Count"}, inplace = True)

ts_df.set_index("SN", inplace = True)

ts_df.sort_values("Purchase Count", ascending=False, inplace = True)

#total purch
ts_df["Total Purchase Price"] = top_spend.groupby("SN")["Price"].sum()

#add col for avg pur price (sum / pur_count)
#average purchase
ts_df["Average Purchase Price"] = (ts_df["Total Purchase Price"] / ts_df["Purchase Count"])

#format output
ts_df["Total Purchase Price"] = ts_df["Total Purchase Price"].map("${:,.2f}".format)
ts_df["Average Purchase Price"] = ts_df["Average Purchase Price"].map("${:.2f}".format)

print(ts_df.head())

             Purchase Count Total Purchase Price Average Purchase Price
SN
Lisosia93                 5               $18.96                  $3.79
Iral74                    4               $13.62                  $3.40
Idastidru52               4               $15.45                  $3.86
Asur53                    3                $7.44                  $2.48
Inguron55                 3               $11.11                  $3.70

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [170]:
popular = purchase_data.copy()

#purchase count
pop_df = popular.groupby(by=["Item ID", "Item Name"], as_index = True).agg({"Purchase ID": pd.Series.nunique}).reset_index()

pop_df.rename(columns = {"Purchase ID":"Purchase Count"}, inplace = True)

pop_df.set_index(["Item ID", "Item Name"], inplace = True)

pop_df.sort_values("Purchase Count", ascending=False, inplace = True)

#Total sum
pop_df["Total Purchase Value"] = popular.groupby(["Item ID", "Item Name"])["Price"].sum()

#Item price
pop_df["Item Price"] = (pop_df["Total Purchase Value"] / pop_df["Purchase Count"])

#format output
pop_df["Total Purchase Value"] = pop_df["Total Purchase Value"].map("${:,.2f}".format)
pop_df["Item Price"] = pop_df["Item Price"].map("${:,.2f}".format)

print(pop_df.head())

                                                      Purchase Count  \
Item ID Item Name
92      Final Critic                                              13
178     Oathbreaker, Last Hope of the Breaking Storm              12
145     Fiery Glass Crusader                                       9
132     Persuasion                                                 9
108     Extraction, Quickblade Of Trembling Hands                  9

                                                     Total Purchase Value  \
Item ID Item Name
92      Final Critic                                               $59.99
178     Oathbreaker, Last Hope of the Breaking Storm               $50.76
145     Fiery Glass Crusader                                       $41.22
132     Persuasion                                                 $28.99
108     Extraction, Quickblade Of Trembling Hands                  $31.77

                                                     Item Price
Item ID Item Name
92      Final Critic                                      $4.61
178     Oathbreaker, Last Hope of the Breaking Storm      $4.23
145     Fiery Glass Crusader                              $4.58
132     Persuasion                                        $3.22
108     Extraction, Quickblade Of Trembling Hands         $3.53

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [182]:
profitable = purchase_data.copy()

#purchase count
prof_df = profitable.groupby(by=["Item ID", "Item Name"], as_index = True).agg({"Purchase ID": pd.Series.nunique}).reset_index()

prof_df.rename(columns = {"Purchase ID":"Purchase Count"}, inplace = True)

prof_df.set_index(["Item ID", "Item Name"], inplace = True)

#Total sum
prof_df["Total Purchase Value"] = profitable.groupby(["Item ID", "Item Name"])["Price"].sum()

#Item price
prof_df["Item Price"] = (prof_df["Total Purchase Value"] / prof_df["Purchase Count"])

#sort
prof_df.sort_values("Total Purchase Value", ascending = False, inplace = True)

#format output
prof_df["Total Purchase Value"] = prof_df["Total Purchase Value"].map("${:,.2f}".format)
prof_df["Item Price"] = prof_df["Item Price"].map("${:,.2f}".format)


print(prof_df.head())

                                                      Purchase Count  \
Item ID Item Name
92      Final Critic                                              13
178     Oathbreaker, Last Hope of the Breaking Storm              12
82      Nirvana                                                    9
145     Fiery Glass Crusader                                       9
103     Singed Scalpel                                             8

                                                     Total Purchase Value  \
Item ID Item Name
92      Final Critic                                               $59.99
178     Oathbreaker, Last Hope of the Breaking Storm               $50.76
82      Nirvana                                                    $44.10
145     Fiery Glass Crusader                                       $41.22
103     Singed Scalpel                                             $34.80

                                                     Item Price
Item ID Item Name
92      Final Critic                                      $4.61
178     Oathbreaker, Last Hope of the Breaking Storm      $4.23
82      Nirvana                                           $4.90
145     Fiery Glass Crusader                              $4.58
103     Singed Scalpel                                    $4.35